{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                }
            }
        ],
        [
            "react"
        ],
        [
            "typescript"
        ]
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}